nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        cursor: pointer;
        border: 1px solid rgb(65, 65, 65);
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
        display: flex;
        gap: 10px;
        border-radius: 30px;
        &:hover {
            background: rgb(65, 65, 65);
            color: white;
        }
    }
    svg.moon-logo {
        width: 5rem;
        height: 5rem;
        transition: all 2s ease;
        path:hover, circle:hover {
            fill: rgb(182, 173, 157) !important;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}